.DS_Store
*.so
prompt_language/.ipynb_checkpoints/*
prompt_language/.ipynb_checkpoints
.ipynb_checkpoints/
analytics/.ipynb_checkpoints/
data/.ipynb_checkpoints/

parse_data/build
parse_data/tree-sitter-python
venv
__pycache__
black-*
old_data
DevGPT